<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--创建各种对象-->
    <!--创建数据访问层的对象-->
    <bean id="uMapper" class="g_split.dao.UsersMapperImpl"></bean>
</beans>