<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--创建学生对象
    等同于 Student stu = new Student();
    id:创建的对象的名称
    class:创建的对象的类型，底层通过反射构建对象

    启动容器的同时，创建对象
    -->
    <bean id="stu" class="a_programmer.pojo.Student">
        <property name="name" value="张三"></property>
        <property name="age" value="19"></property>
    </bean>
</beans>